<div class="m-3 p-3">
  <h1>Software Development Flow</h1>
  <div class="row">
    <div class="col-8">
      <dx-gantt [taskListWidth]="200" (onSelectionChanged)="OnSelectionChanged($event)" 
        scaleType="days" 
        [showResources]="false" [height]="700" [(selectedRowKey)]="selectedRowKey">
        <dxo-tasks [dataSource]="tasks"></dxo-tasks>
        <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>
        <dxo-resources [dataSource]="resources"></dxo-resources>
        <dxo-resource-assignments [dataSource]="resourceAssignments"></dxo-resource-assignments>
        <dxi-column dataField="title" caption="Subject" [width]="200"></dxi-column>
      </dx-gantt>
    </div>
    <div class="col-4">
      <div class="card">
        <h4 class="card-header">Task Information</h4>
        <div class="card-body">
          <h4 class="card-title">{{currentTask.title}}</h4>
          <p class="font-weight-light">{{currentTask.start.toLocaleString()}} - {{currentTask.end.toLocaleString()}}</p>
          
          <dx-pie-chart id='pie' type="doughnut" [palette]="['lightgreen', 'lightgray']" [(dataSource)]="currentProgress"
            centerTemplate="centerTemplate">
            <dxi-series valueField="val" argumentField="text"></dxi-series>
            <dxo-legend [visible]="false"></dxo-legend>
            <dxo-label [position]="inside" [visible]="true"></dxo-label>
            <svg *dxTemplate="let pieChart of 'centerTemplate'">
              <text text-anchor="middle" style="font-size: 18px" x="100" y="120" fill="#494949">
                <tspan x="100"> Progress</tspan>
                <tspan x="100" dy="20px" style="font-weight: 600">
                  {{ currentProgress[0].val }} %
                </tspan>
              </text>
            </svg>
          </dx-pie-chart>
          <div class="row">
            <div *ngFor="let resource of currentTaskResources" class="col-3">
              <h5><span class="badge badge-pill badge-info font-weight-normal text-wrap" style="width: 8rem;">{{ resource.text }}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>